/* Colors */
/* Media breack points */
/* Spacing */
/* Font sizes */
h1 {
  font-size: 1.6rem;
}

h2 {
  font-size: 1.4rem;
}

h3 {
  font-size: 1.2rem;
}

/* Empty space scheme */
/* Components */
* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

.skiplink {
  position: absolute;
  left: -100000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
.skiplink:focus {
  position: static;
  width: auto;
  height: auto;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

main {
  flex: 1 0 auto;
  padding: 10rem 5rem;
  background-image: url(../assets/background-main.svg);
  background-size: cover; /* <------ */
  background-repeat: no-repeat;
  background-position: center center;
}

/* Style the header */
header {
  width: 100%;
  position: fixed;
  top: 0;
  background-color: white;
  padding: 1.5rem;
  vertical-align: middle;
  background-image: url(../assets/background-header.svg);
}

.visible-header {
  display: grid;
  grid-template-columns: 1fr auto;
}

nav {
  grid-column: 1;
  align-self: center;
}
nav ul {
  list-style-type: none;
  padding-inline-start: 0;
}

.navigation-item {
  display: inline-block;
  padding: 0.5rem 1.5rem;
}
.navigation-item:first-child {
  padding-left: 0;
}
.navigation-item[aria-current="page"] {
  text-decoration: underline;
}

.navigation-item a {
  font-size: 1.2rem;
  font-weight: bold;
  color: black;
  text-decoration: none;
}

.hamburger {
  font-size: 3em;
  background: none;
  border: none;
  cursor: pointer;
}

.logo {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-column: 2;
  align-content: center;
}
.logo .logo__text {
  font-size: min(1.6rem, 6vw);
  font-weight: bold;
}

header .logo img {
  grid-column: 1;
  max-width: 5rem;
  min-width: 3rem;
  align-self: center;
  justify-self: end;
  text-align: right;
  padding-right: 1.5rem;
}

header .logo h1 {
  grid-column: 2;
  align-self: center;
  justify-self: end;
  text-align: right;
}

.secondary-color {
  color: #114446;
}

.visually-hidden {
  position: absolute;
  left: -10000px;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip-path: inset(50%);
}

/* Style the footer */
footer {
  color: white;
  flex-shrink: 0;
  background-color: #114446;
  font-size: 0.8rem;
  grid-row: 3;
}
footer a {
  color: white;
}

footer .footer__imprint {
  padding: 1.5rem;
}

footer .footer__links {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 0.8rem;
  justify-content: center;
}
footer .footer__links a {
  justify-self: center;
}

footer .footer__imprint .footer__right {
  text-align: right;
  margin: 0;
}

footer .footer--icon {
  width: 2rem;
  fill: white;
}

@media (forced-colors: active) {
  footer .footer--icon {
    fill: black;
  }
}
header,
main,
footer {
  flex-shrink: 0;
}

@media (min-width: 768px) {
  footer .footer__imprint {
    display: grid;
    grid-template-columns: 1fr auto;
  }
  footer .footer__imprint .footer__links {
    grid-column: 1;
  }
  footer .footer__imprint .footer__right {
    grid-column: 2;
  }
  footer .footer__links {
    justify-content: left;
  }
  .hamburgerContent,
  .hamburger {
    display: none;
  }
}
/* tablet breakpoint */
@media screen and (max-width: 768px) {
  .hamburger {
    display: block;
  }
  .desktop-navigation {
    display: none;
  }
  main {
    padding: 10rem 1.5rem;
  }
  footer .footer__links {
    margin-bottom: 1.5rem;
  }
}
@media (min-width: 768px) {
  .hamburgerContent,
  .hamburger {
    display: none;
  }
}
/* mobile breakpoint */
@media (max-width: 480px) {
  footer .footer__imprint {
    display: grid;
    grid-template-columns: 1fr auto;
  }
  footer .footer__imprint .footer__links {
    grid-column: 1;
  }
  footer .footer__imprint .footer__right {
    grid-column: 2;
  }
  footer .footer__links {
    justify-content: left;
  }
}
/* hamburger */
.hamburgerContent {
  margin: 0;
  list-style: none;
  display: none;
  position: absolute;
  border: 0.5rem #114446 solid;
  border-radius: 5px;
  background-color: white;
  padding-inline-start: 0;
  width: max-content;
}

.menu-item a {
  text-decoration: none;
  padding: 1rem;
  display: block;
  color: black;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 5px;
  width: max-content;
}
.menu-item a a {
  font-size: 1.2rem;
  font-weight: bold;
  color: black;
  text-decoration: none;
}

.menu-item:focus,
.menu-item:hover {
  background: #d1e8e2;
}

.primary-color {
  color: #114446;
}

.back-link {
  display: block;
  color: black;
  text-decoration: underline;
  font-size: 1.4rem;
  margin: 1.5rem auto;
}

:root {
  --unchecked-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='50' height='50' viewBox='0 0 50 50'%3e%3cpath fill='white' stroke='%23114446' d='m25,1 6,17h18l-14,11 5,17-15-10-15,10 5-17-14-11h18z'/%3e%3c/svg%3e");
  --checked-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='50' height='50' viewBox='0 0 50 50'%3e%3cpath fill='%23114446' stroke='%23114446' stroke-width='2' d='m25,1 6,17h18l-14,11 5,17-15-10-15,10 5-17-14-11h18z'/%3e%3c/svg%3e");
  --hovered-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='50' height='50' viewBox='0 0 50 50'%3e%3cpath fill='%23114446' stroke='%23114446' stroke-width='2' d='m25,1 6,17h18l-14,11 5,17-15-10-15,10 5-17-14-11h18z'/%3e%3c/svg%3e");
  --max-stars: 5;
  --star-rating-size: min(4rem, 17vw);
}

fieldset {
  margin-inline-start: 0;
  border-width: 0;
  max-width: 24rem;
  margin: 0 auto;
}

legend {
  margin: 0 auto;
  margin-bottom: 1.5rem;
}

.star-rating {
  width: min-content;
  padding: 0.3rem;
}

.star-rating > div {
  position: relative;
  height: var(--star-rating-size);
  width: calc(var(--star-rating-size) * 5);
  background-image: var(--unchecked-image);
  background-size: var(--star-rating-size) var(--star-rating-size);
}

.star-rating label {
  position: absolute;
  height: 100%;
  background-size: var(--star-rating-size) var(--star-rating-size);
}

.star-rating label:nth-of-type(1) {
  z-index: 10;
  width: calc(var(--star-rating-size) * 1);
}

.star-rating label:nth-of-type(2) {
  z-index: 9;
  width: calc(var(--star-rating-size) * 2);
}

.star-rating label:nth-of-type(3) {
  z-index: 8;
  width: calc(var(--star-rating-size) * 3);
}

.star-rating label:nth-of-type(4) {
  z-index: 7;
  width: calc(var(--star-rating-size) * 4);
}

.star-rating label:nth-of-type(5) {
  z-index: 6;
  width: calc(var(--star-rating-size) * 5);
}

.star-rating input:checked + label,
.star-rating input:focus + label {
  background-image: var(--checked-image);
}

.star-rating input:checked + label:hover,
.star-rating label:hover {
  background-image: var(--hovered-image);
}

.star-rating:focus-within {
  outline: 0.25rem solid #d1e8e2;
}

.star-rating input,
.star-rating label > span {
  border: 0;
  padding: 0;
  margin: 0;
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(
    1px 1px 1px 1px
  ); /* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
  clip: rect(
    1px,
    1px,
    1px,
    1px
  ); /*maybe deprecated but we need to support legacy browsers */
  clip-path: inset(
    50%
  ); /*modern browsers, clip-path works inwards from each corner*/
  white-space: nowrap; /* added line to stop words getting smushed together (as they go onto seperate lines and some screen readers do not understand line feeds as a space */
}

/*# sourceMappingURL=book-details.css.map */
