@import "./global";

.mission_text {
  margin-bottom: $s-spacing;
  font-size: $xs-font;
  background-color: $secondary-color;
  border-radius: 4px;
  color: $primary-color-invert;
  padding: $xs-spacing;
}

#dailyVisitors {
  border: $secondary-color solid 0.3rem;
  background-color: $primary-color-invert;
  margin-bottom: $s-spacing;
  width: 100%;
  border-radius: 4px;
}

/* tablet breakpoint */
@media (min-width: $tablet) {
  .content--grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .mission_text,
  canvas {
    margin-right: $s-spacing;
  }

  canvas {
    max-width: 30rem;
  }
}
